.App {
  text-align: center;
}

.searchbar {
  width: 912px;
  height: 42px;
  border-radius: 4px;
}

.searchbutton {
  width: 105px;
  height: 42px;
  border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
